{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets 
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/peintrephilippeleroux.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/peintrephilippeleroux-responsive.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap.min.css'
        'bundles/titomepeintrephilippeleroux/zoombox/zoombox.css'
         filter='cssrewrite'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block nav %}
    <div class="navbar-red">
        <div class="navbar-inner">
            <div class="container">
                {# TODO: Finir la page d'accueil du site #}
                <a class="brand" href="{{ path('Accueil') }}">PHILIPPE LEROUX</a>
                <ul class="nav">
                    <li class="dropdown"><a href="#">Exposition</a></li>
                    <li class="dropdown"><a href="#">Actualité</a></li>
                    <li class="dropdown"><a href="{{ path('Galerie') }}">Galerie</a></li>
                    <li class="dropdown"><a href="#">Livres</a></li>
                    <li class="dropdown"><a href="#">Contact</a></li>
                    <li class="dropdown"><a href="#">Biographie</a></li>                    
                </ul>
                <ul class="nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><span>Bonjour {{ app.user.username }} !</span></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}