{% extends '::base.html.twig' %}

{% block title %} - Pannel d'adminstration - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/peintrephilippeleroux.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/peintrephilippeleroux-responsive.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap.min.css'
        output='css/style.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block nav %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('AccueilAdmin') }}">Panel d'administration</a>
                <ul class="nav">
                    <li class="dropdown">
                        {# TODO: Faire une page pour la gestion des images #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Image <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('AjoutImage') }}">Ajouter</a>
                            </li>
                            <li>
                                <a href="{{ path('Galerie') }}">Modifier</a>
                            </li>
                            <li>
                                <a href="{{ path('Galerie') }}">Supprimer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        {# TODO: Faire une page pour la gestion des images #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Carrousel <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('AjoutCarousel') }}">Ajouter une image</a>
                            </li>
                            {#<li>
                                <a href="{{ path('OrdreCarousel') }}">Modifier l'ordre des images</a>
                            </li>#}
                            <li>
                                <a href="{{ path('DeleteViewCarousel') }}">Supprimer une image</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Biographie <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('ModifBio') }}">Modifier la biographie</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Exposition <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('ModifExpo') }}">Modifier la page des expositions</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Actualité <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('ModifActu') }}">Modifier la page des actualités</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Livre <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('AjoutLivre') }}">Ajouter</a></li>
                            <li><a href="{{ path('Livre') }}">Modifier</a></li>
                            <li><a href="{{ path('Livre') }}">Supprimer</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {# TODO : Changer le lien par un span comme dans le front-end #}
                    <li><a>Bonjour {{ app.user.username }} !</a></li>
                    <li><a href="{{ path('Accueil') }}">Retour au site</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
