{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap.min.css'
        output='css/style.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block nav %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                {# TODO: Faire une page d'accueil pour le panel d'administration #}
                <a class="brand" href="#">Panel d'administration</a>
                <ul class="nav">
                    <li class="dropdown">
                        {# TODO: Faire une page pour la gestion des images #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Image <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('AjoutImage') }}">Ajouter</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}

    {% javascripts        
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/js/jquery-1.7.2.min.js'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/js/bootstrap.min.js'
        output='main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}