{% extends '::base.html.twig' %}

{% block title %} - Pannel d'adminstration - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@TitomePeintrePhilippeLerouxBundle/Resources/public/css/bootstrap.min.css'
        output='css/style.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block nav %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('AccueilAdmin') }}">Panel d'administration</a>
                <ul class="nav">
                    <li class="dropdown">
                        {# TODO: Faire une page pour la gestion des images #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Image <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('AjoutImage') }}">Ajouter</a>
                            </li>
                            <li>
                                <a href="#">Modifier</a>
                            </li>
                            <li>
                                <a href="#">Supprimer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        {# TODO: Faire une page pour la gestion des images #}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Carrousel <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('AjoutCarousel') }}">Ajouter une image</a>
                            </li>
                            <li>
                                <a href="#">Modifier l'ordre des images</a>
                            </li>
                            <li>
                                <a href="#">Supprimer une image</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li><span>Bonjour {{ app.user.username }} !</span></li>
                    <li><a href="{{ path('AccueilAdmin') }}">Adminstration</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}