{% extends "TitomePeintrePhilippeLerouxBundle::layoutAdmin.html.twig" %}

{% block title %}Modifier l'ordre des images dans le carousel{{ parent() }}{% endblock %}

{% block corps %}
    <div class="container">
        {% if app.session.hasFlash('notice') %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">x</a>
                <h4 class="alert-heading">{{ app.session.flash('notice') }}</h4>
            </div>
	{% endif %}
            
        <h1>Modifier l'ordre des images dans le carrousel</h1>

        <ul class="thumbnails">
            {% for image in images %}
                <li>
                    <div class="thumbnail">
                        <a href="{{ path('ModifCarousel', { 'id' : image.id }) }}">
                            <img src="{{ asset(('image/'~image.image) | apply_filter('my_thumb')) }}" alt="{{ image.image }}" />
                            <h5>N°{{ image.ordre }}</h5>
                            <p>Modifier son ordre</p>
                        </a>
                    </div>
                </li>
            {% else %}
                <h5>Pas encore d'image !</h5>
            {% endfor %}
        </ul>
    </div>
{% endblock %}