{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Galerie - {{ parent() }}{% endblock %}

{% block corps %}
    {{ parent() }}
    
    <section class="margin2pl">
        {% if app.session.hasFlash('notice') %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">x</a>
                <h4 class="alert-heading">{{ app.session.flash('notice') }}</h4>
            </div>
        {% endif %}
        <div class="page-headerRed margin4pr">
            <h1 class="red">Galerie</h1>
        </div>

        <ul class="thumbnails">
            {% for image in images %}
                <li>
                    <div class="thumbnail">
                        <a href="{{ asset(('image/'~image.nom) | apply_filter('img')) }}" class="zoombox zgallery1">
                            <img src="{{ asset(('image/'~image.nom) | apply_filter('my_thumb')) }}" alt="{{ image.titre }}" />
                            <h5 class="red">{{ image.titre }}</h5>
                            <p>{{ image.legende }}</p>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn" href="{{ path('ModifierImage', { 'id' : image.id }) }}">Modifier</a>
                            <a class="btn" data-toggle="modal" href="#myModal{{ image.id }}">Supprimer</a>
                        {% endif %}
                    </div>
                </li>
                
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="modal hide" id="myModal{{ image.id }}">
                            <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <h3>Voulez-vous vraiment supprimez ...?</h3>
                            </div>
                            <div class="modal-body">
                                    <img src="{{ asset(('image/'~image.nom) | apply_filter('my_thumb')) }}" alt="{{ image.titre }}" />
                            </div>
                            <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal">Annuler</a>
                                    <a href="{{ path('DeletePicture', { 'id' : image.id }) }}" class="btn btn-primary">
                                        Confirmer la suppression
                                    </a>
                            </div>
                    </div>
                {% endif %}
                
            {% else %}
                <h5>Pas encore d'image !</h5>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
    jQuery(function($){
        $('a.zoombox').zoombox();

        /**
        * Or You can also use specific options*/
        $('a.zoombox').zoombox({
            theme       : 'zoombox',        //available themes : zoombox,lightbox, prettyphoto, darkprettyphoto, simple
            opacity     : 0.8,              // Black overlay opacity
            duration    : 800,              // Animation duration
            animation   : true,             // Do we have to animate the box ?
            width       : 600,              // Default width
            height      : 400,              // Default height
            gallery     : true,             // Allow gallery thumb view
            autoplay : false                // Autoplay for video
        });
        
    });
    </script>
{% endblock %}