{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Galerie - {{ parent() }}{% endblock %}

{% block corps %}
    {{ parent() }}
    
    <section class="margin2pl">
        <div class="page-headerRed margin4pr">
            <h1 class="red">Galerie</h1>
        </div>

        <ul class="thumbnails">
            {% for image in images %}
                <li>
                    <div class="thumbnail">
                        <a href="{{ asset(('image/'~image.nom) | apply_filter('img')) }}" class="zoombox zgallery1">
                            <img src="{{ asset(('image/'~image.nom) | apply_filter('my_thumb')) }}" alt="{{ image.titre }}" />
                            <h5 class="red">{{ image.titre }}</h5>
                        </a>
                        <a class="btn" href="{{ path('ModifierImage', { 'id' : image.id }) }}">Modifier</a>
                        <a class="btn" href="{{ path('DeletePicture', { 'id' : image.id }) }}">Supprimer</a>
                    </div>
                </li>
            {% else %}
                <h5>Pas encore d'image !</h5>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
    jQuery(function($){
        $('a.zoombox').zoombox();

        /**
        * Or You can also use specific options*/
        $('a.zoombox').zoombox({
            theme       : 'zoombox',        //available themes : zoombox,lightbox, prettyphoto, darkprettyphoto, simple
            opacity     : 0.8,              // Black overlay opacity
            duration    : 800,              // Animation duration
            animation   : true,             // Do we have to animate the box ?
            width       : 600,              // Default width
            height      : 400,              // Default height
            gallery     : true,             // Allow gallery thumb view
            autoplay : false                // Autoplay for video
        });
        
    });
    </script>
{% endblock %}