{% extends "TitomePeintrePhilippeLerouxBundle::layout.html.twig" %}

{% block title %}Galerie - {{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Galerie</h1>
    
    {#<table class="table table-striped">
        {% set i = 0 %}
            
        {% for image in images %}
            {% if i == 2 or i == 0 %}
                <tr>
            {% endif %}
                    <td>
                        <img src="{{ asset(('image/'~image.nom) | apply_filter('my_thumb')) }}" alt="{{ image.legende }}" />
                        <p>{{ image.legende }}</p>
                    </td>
            {% set i = i + 1 %}    
            {% if i == 2 or i == 0%}
                </tr>
                {% set i = 0 %}
            {% endif %}
        {% else %}
            <p>Pas encore d'image !</p>
        {% endfor %}
    </table>#}
    
    <ul class="thumbnails">
        {% for image in images %}
            <li>
                <div class="thumbnail">
                    <img src="{{ asset(('image/'~image.nom) | apply_filter('my_thumb')) }}" alt="{{ image.legende }}" />
                    <h5>{{ image.legende }}</h5>
                </div>
            </li>
        {% else %}
            <h5>Pas encore d'image !</h5>
        {% endfor %}
    </ul>
{% endblock %}